body {
    font-family: sans-serif;
    margin: 0;
    background-color: #1b2025;
    width: 350px;
    overflow: hidden
}

.container {
    padding: 15px;
}

h1 {
    font-size: 1.2em;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}

.settings-section {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #222930;
    border-radius: 0 20px;
    box-shadow: 0px 0px 21px -14px rgba(0, 0, 0, 1);
}

.settings-section h2 {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 10px;
    color: #ffffff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #ffffff;
}

select,
input[type="color"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #222930;
    color: #ffffff;
    border: 1px solid #56687a;
}

input[type="color"] {
    height: 35px;
    padding: 2px;
}


.color-options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
}

.color-box {
    width: 30px;
    height: 30px;
    border: 1px solid #56687a;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.1s ease;
}

.color-box:hover {
    transform: scale(1.1);
}

.color-box.selected {
    border-width: 2px;
    border-color: #007bff;
}

.container p {
    text-align: center;
}

button {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.9em;
    margin-right: 10px;
}

button:hover {
    background-color: #006bdd;
}

button#reset-button {
    background-color: #56687a;
}

button#reset-button:hover {
    background-color: #465463;
}


#status-message {
    font-size: 0.85em;
    text-align: center;
}

#status-message.success {
    color: green;
}

#status-message.error {
    color: red;
}